@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-rb21t3e9yNXC_font-family: "Inter";
  --mixin-rb21t3e9yNXC_font-size: 16px;
  --mixin-rb21t3e9yNXC_font-weight: 400;
  --mixin-rb21t3e9yNXC_font-style: normal;
  --mixin-rb21t3e9yNXC_color: #535353;
  --mixin-rb21t3e9yNXC_text-align: left;
  --mixin-rb21t3e9yNXC_text-transform: none;
  --mixin-rb21t3e9yNXC_line-height: 1.5;
  --mixin-rb21t3e9yNXC_letter-spacing: normal;
  --mixin-rb21t3e9yNXC_white-space: pre-wrap;
  --mixin-rb21t3e9yNXC_user-select: text;
  --mixin-rb21t3e9yNXC_text-decoration-line: none;
  --mixin-rb21t3e9yNXC_text-overflow: clip;
  --mixin-2ObM0zyKnF5Z_color: #000000;
  --mixin-2ObM0zyKnF5Z_font-weight: 900;
  --mixin-2ObM0zyKnF5Z_font-size: 72px;
  --mixin-2ObM0zyKnF5Z_line-height: 1;
  --mixin-2ObM0zyKnF5Z_letter-spacing: -4px;
  --mixin-F8OdntKtAJ7l_font-family: "Inter";
  --mixin-F8OdntKtAJ7l_color: #000000;
  --mixin-F8OdntKtAJ7l_font-size: 48px;
  --mixin-F8OdntKtAJ7l_font-weight: 700;
  --mixin-F8OdntKtAJ7l_letter-spacing: -1px;
  --mixin-F8OdntKtAJ7l_line-height: 1.1;
  --mixin-MR6KC1dp47Md_color: #0070f3;
  --mixin-LFrh4Ro8dNrI_font-family: "Inter";
  --mixin-LFrh4Ro8dNrI_color: #000000;
  --mixin-LFrh4Ro8dNrI_font-size: 32px;
  --mixin-LFrh4Ro8dNrI_font-weight: 600;
  --mixin-LFrh4Ro8dNrI_letter-spacing: -0.8px;
  --mixin-LFrh4Ro8dNrI_line-height: 1.2;
  --mixin-n6wdmHzvr4NI_font-family: "Inter";
  --mixin-n6wdmHzvr4NI_color: #000000;
  --mixin-n6wdmHzvr4NI_font-size: 24px;
  --mixin-n6wdmHzvr4NI_font-weight: 600;
  --mixin-n6wdmHzvr4NI_letter-spacing: -0.5px;
  --mixin-n6wdmHzvr4NI_line-height: 1.3;
  --mixin-ndsPwFbvIjcS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ndsPwFbvIjcS_border-bottom-color: #dddddd;
  --mixin-ndsPwFbvIjcS_border-bottom-style: solid;
  --mixin-ndsPwFbvIjcS_border-bottom-width: 1px;
  --mixin-ndsPwFbvIjcS_border-left-color: #dddddd;
  --mixin-ndsPwFbvIjcS_border-left-style: solid;
  --mixin-ndsPwFbvIjcS_border-left-width: 1px;
  --mixin-ndsPwFbvIjcS_border-right-color: #dddddd;
  --mixin-ndsPwFbvIjcS_border-right-style: solid;
  --mixin-ndsPwFbvIjcS_border-right-width: 1px;
  --mixin-ndsPwFbvIjcS_border-top-color: #dddddd;
  --mixin-ndsPwFbvIjcS_border-top-style: solid;
  --mixin-ndsPwFbvIjcS_border-top-width: 1px;
  --mixin-ndsPwFbvIjcS_border-bottom-left-radius: 3px;
  --mixin-ndsPwFbvIjcS_border-bottom-right-radius: 3px;
  --mixin-ndsPwFbvIjcS_border-top-left-radius: 3px;
  --mixin-ndsPwFbvIjcS_border-top-right-radius: 3px;
  --mixin-ndsPwFbvIjcS_font-family: "Inconsolata";
  --mixin-ndsPwFbvIjcS_padding-bottom: 1px;
  --mixin-ndsPwFbvIjcS_padding-left: 4px;
  --mixin-ndsPwFbvIjcS_padding-right: 4px;
  --mixin-ndsPwFbvIjcS_padding-top: 1px;
  --mixin-y6dTjoMBRjM2_border-left-color: #dddddd;
  --mixin-y6dTjoMBRjM2_border-left-style: solid;
  --mixin-y6dTjoMBRjM2_border-left-width: 3px;
  --mixin-y6dTjoMBRjM2_color: #888888;
  --mixin-y6dTjoMBRjM2_padding-left: 10px;
  --mixin-nNRu5TafnkQV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nNRu5TafnkQV_border-bottom-color: #dddddd;
  --mixin-nNRu5TafnkQV_border-bottom-style: solid;
  --mixin-nNRu5TafnkQV_border-bottom-width: 1px;
  --mixin-nNRu5TafnkQV_border-left-color: #dddddd;
  --mixin-nNRu5TafnkQV_border-left-style: solid;
  --mixin-nNRu5TafnkQV_border-left-width: 1px;
  --mixin-nNRu5TafnkQV_border-right-color: #dddddd;
  --mixin-nNRu5TafnkQV_border-right-style: solid;
  --mixin-nNRu5TafnkQV_border-right-width: 1px;
  --mixin-nNRu5TafnkQV_border-top-color: #dddddd;
  --mixin-nNRu5TafnkQV_border-top-style: solid;
  --mixin-nNRu5TafnkQV_border-top-width: 1px;
  --mixin-nNRu5TafnkQV_border-bottom-left-radius: 3px;
  --mixin-nNRu5TafnkQV_border-bottom-right-radius: 3px;
  --mixin-nNRu5TafnkQV_border-top-left-radius: 3px;
  --mixin-nNRu5TafnkQV_border-top-right-radius: 3px;
  --mixin-nNRu5TafnkQV_font-family: "Inconsolata";
  --mixin-nNRu5TafnkQV_padding-bottom: 3px;
  --mixin-nNRu5TafnkQV_padding-left: 6px;
  --mixin-nNRu5TafnkQV_padding-right: 6px;
  --mixin-nNRu5TafnkQV_padding-top: 3px;
  --mixin-r_YCy2vL_PVU_display: flex;
  --mixin-r_YCy2vL_PVU_flex-direction: column;
  --mixin-r_YCy2vL_PVU_align-items: stretch;
  --mixin-r_YCy2vL_PVU_justify-content: flex-start;
  --mixin-r_YCy2vL_PVU_list-style-position: outside;
  --mixin-r_YCy2vL_PVU_padding-left: 40px;
  --mixin-r_YCy2vL_PVU_position: relative;
  --mixin-r_YCy2vL_PVU_list-style-type: disc;
  --mixin-sErssvajcJLT_display: flex;
  --mixin-sErssvajcJLT_flex-direction: column;
  --mixin-sErssvajcJLT_align-items: stretch;
  --mixin-sErssvajcJLT_justify-content: flex-start;
  --mixin-sErssvajcJLT_list-style-position: outside;
  --mixin-sErssvajcJLT_padding-left: 40px;
  --mixin-sErssvajcJLT_position: relative;
  --mixin-sErssvajcJLT_list-style-type: decimal;
  --mixin-PxkSAostxo18M_font-family: "Inter";
  --mixin-PxkSAostxo18M_color: #000000;
  --mixin-PxkSAostxo18M_font-size: 20px;
  --mixin-PxkSAostxo18M_font-weight: 600;
  --mixin-PxkSAostxo18M_letter-spacing: -0.3px;
  --mixin-PxkSAostxo18M_line-height: 1.5;
  --mixin-VF0xvTjaTyfOc_font-family: "Inter";
  --mixin-VF0xvTjaTyfOc_color: #000000;
  --mixin-VF0xvTjaTyfOc_font-size: 16px;
  --mixin-VF0xvTjaTyfOc_font-weight: 600;
  --mixin-VF0xvTjaTyfOc_line-height: 1.5;
  --mixin-WeXUbx4btLJ7K_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-rb21t3e9yNXC_font-family);
  font-size: var(--mixin-rb21t3e9yNXC_font-size);
  font-weight: var(--mixin-rb21t3e9yNXC_font-weight);
  font-style: var(--mixin-rb21t3e9yNXC_font-style);
  color: var(--mixin-rb21t3e9yNXC_color);
  text-align: var(--mixin-rb21t3e9yNXC_text-align);
  text-transform: var(--mixin-rb21t3e9yNXC_text-transform);
  line-height: var(--mixin-rb21t3e9yNXC_line-height);
  letter-spacing: var(--mixin-rb21t3e9yNXC_letter-spacing);
  white-space: var(--mixin-rb21t3e9yNXC_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-2ObM0zyKnF5Z_color);
  font-weight: var(--mixin-2ObM0zyKnF5Z_font-weight);
  font-size: var(--mixin-2ObM0zyKnF5Z_font-size);
  line-height: var(--mixin-2ObM0zyKnF5Z_line-height);
  letter-spacing: var(--mixin-2ObM0zyKnF5Z_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-F8OdntKtAJ7l_font-family);
  color: var(--mixin-F8OdntKtAJ7l_color);
  font-size: var(--mixin-F8OdntKtAJ7l_font-size);
  font-weight: var(--mixin-F8OdntKtAJ7l_font-weight);
  letter-spacing: var(--mixin-F8OdntKtAJ7l_letter-spacing);
  line-height: var(--mixin-F8OdntKtAJ7l_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-MR6KC1dp47Md_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-LFrh4Ro8dNrI_font-family);
  color: var(--mixin-LFrh4Ro8dNrI_color);
  font-size: var(--mixin-LFrh4Ro8dNrI_font-size);
  font-weight: var(--mixin-LFrh4Ro8dNrI_font-weight);
  letter-spacing: var(--mixin-LFrh4Ro8dNrI_letter-spacing);
  line-height: var(--mixin-LFrh4Ro8dNrI_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-n6wdmHzvr4NI_font-family);
  color: var(--mixin-n6wdmHzvr4NI_color);
  font-size: var(--mixin-n6wdmHzvr4NI_font-size);
  font-weight: var(--mixin-n6wdmHzvr4NI_font-weight);
  letter-spacing: var(--mixin-n6wdmHzvr4NI_letter-spacing);
  line-height: var(--mixin-n6wdmHzvr4NI_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-ndsPwFbvIjcS_background);
  font-family: var(--mixin-ndsPwFbvIjcS_font-family);
  border-radius: var(--mixin-ndsPwFbvIjcS_border-top-left-radius)
    var(--mixin-ndsPwFbvIjcS_border-top-right-radius)
    var(--mixin-ndsPwFbvIjcS_border-bottom-right-radius)
    var(--mixin-ndsPwFbvIjcS_border-bottom-left-radius);
  padding: var(--mixin-ndsPwFbvIjcS_padding-top)
    var(--mixin-ndsPwFbvIjcS_padding-right)
    var(--mixin-ndsPwFbvIjcS_padding-bottom)
    var(--mixin-ndsPwFbvIjcS_padding-left);
  border-top: var(--mixin-ndsPwFbvIjcS_border-top-width)
    var(--mixin-ndsPwFbvIjcS_border-top-style)
    var(--mixin-ndsPwFbvIjcS_border-top-color);
  border-right: var(--mixin-ndsPwFbvIjcS_border-right-width)
    var(--mixin-ndsPwFbvIjcS_border-right-style)
    var(--mixin-ndsPwFbvIjcS_border-right-color);
  border-bottom: var(--mixin-ndsPwFbvIjcS_border-bottom-width)
    var(--mixin-ndsPwFbvIjcS_border-bottom-style)
    var(--mixin-ndsPwFbvIjcS_border-bottom-color);
  border-left: var(--mixin-ndsPwFbvIjcS_border-left-width)
    var(--mixin-ndsPwFbvIjcS_border-left-style)
    var(--mixin-ndsPwFbvIjcS_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-y6dTjoMBRjM2_color);
  padding-left: var(--mixin-y6dTjoMBRjM2_padding-left);
  border-left: var(--mixin-y6dTjoMBRjM2_border-left-width)
    var(--mixin-y6dTjoMBRjM2_border-left-style)
    var(--mixin-y6dTjoMBRjM2_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-nNRu5TafnkQV_background);
  font-family: var(--mixin-nNRu5TafnkQV_font-family);
  border-radius: var(--mixin-nNRu5TafnkQV_border-top-left-radius)
    var(--mixin-nNRu5TafnkQV_border-top-right-radius)
    var(--mixin-nNRu5TafnkQV_border-bottom-right-radius)
    var(--mixin-nNRu5TafnkQV_border-bottom-left-radius);
  padding: var(--mixin-nNRu5TafnkQV_padding-top)
    var(--mixin-nNRu5TafnkQV_padding-right)
    var(--mixin-nNRu5TafnkQV_padding-bottom)
    var(--mixin-nNRu5TafnkQV_padding-left);
  border-top: var(--mixin-nNRu5TafnkQV_border-top-width)
    var(--mixin-nNRu5TafnkQV_border-top-style)
    var(--mixin-nNRu5TafnkQV_border-top-color);
  border-right: var(--mixin-nNRu5TafnkQV_border-right-width)
    var(--mixin-nNRu5TafnkQV_border-right-style)
    var(--mixin-nNRu5TafnkQV_border-right-color);
  border-bottom: var(--mixin-nNRu5TafnkQV_border-bottom-width)
    var(--mixin-nNRu5TafnkQV_border-bottom-style)
    var(--mixin-nNRu5TafnkQV_border-bottom-color);
  border-left: var(--mixin-nNRu5TafnkQV_border-left-width)
    var(--mixin-nNRu5TafnkQV_border-left-style)
    var(--mixin-nNRu5TafnkQV_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-r_YCy2vL_PVU_display);
  flex-direction: var(--mixin-r_YCy2vL_PVU_flex-direction);
  align-items: var(--mixin-r_YCy2vL_PVU_align-items);
  justify-content: var(--mixin-r_YCy2vL_PVU_justify-content);
  list-style-position: var(--mixin-r_YCy2vL_PVU_list-style-position);
  padding-left: var(--mixin-r_YCy2vL_PVU_padding-left);
  position: var(--mixin-r_YCy2vL_PVU_position);
  list-style-type: var(--mixin-r_YCy2vL_PVU_list-style-type);
  flex-column-gap: var(--mixin-r_YCy2vL_PVU_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-sErssvajcJLT_display);
  flex-direction: var(--mixin-sErssvajcJLT_flex-direction);
  align-items: var(--mixin-sErssvajcJLT_align-items);
  justify-content: var(--mixin-sErssvajcJLT_justify-content);
  list-style-position: var(--mixin-sErssvajcJLT_list-style-position);
  padding-left: var(--mixin-sErssvajcJLT_padding-left);
  position: var(--mixin-sErssvajcJLT_position);
  list-style-type: var(--mixin-sErssvajcJLT_list-style-type);
  flex-column-gap: var(--mixin-sErssvajcJLT_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-PxkSAostxo18M_font-family);
  color: var(--mixin-PxkSAostxo18M_color);
  font-size: var(--mixin-PxkSAostxo18M_font-size);
  font-weight: var(--mixin-PxkSAostxo18M_font-weight);
  letter-spacing: var(--mixin-PxkSAostxo18M_letter-spacing);
  line-height: var(--mixin-PxkSAostxo18M_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-VF0xvTjaTyfOc_font-family);
  color: var(--mixin-VF0xvTjaTyfOc_color);
  font-size: var(--mixin-VF0xvTjaTyfOc_font-size);
  font-weight: var(--mixin-VF0xvTjaTyfOc_font-weight);
  line-height: var(--mixin-VF0xvTjaTyfOc_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-WeXUbx4btLJ7K_color);
}
